<p style="color: green"><%= notice %></p>

<h1>Warehouses</h1>

<div id="warehouses">
  <% @warehouses.each do |warehouse| %>
    <%= render warehouse %>
    <p>
      <%= link_to "Show this warehouse", warehouse %>
    </p>
  <% end %>
</div>

<%= link_to "New warehouse", new_warehouse_path %>
